<h1>Editing contact</h1>

<%= render 'form' %>

<br/><br/>
<%= link_to 'Show', @contact %> |

<br/> <br/>
<%= link_to 'Back to Contacts', contacts_path %>

<br/><br/>
<a href='http://localhost:3000'>Go Home</a>
