<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <h2><i>Collections...</i></h2>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="index.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
      }
    </style>


  </head>


    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
            <h4><i>Welcome, Bharathi Swaminathan! </i></h4>
            <h4><i>Collections and memories are very precious.. and keeping an account
              of what you have is always good. Go ahead and store information about the
              books you possess, the contacts you know and you can also link your
              flickr account to cherish memories.... The best part is, you can acess them
              anywhere, all at once !! </i></h4>
              <p style="text-align:center;">

                <p style="text-align:center;"></p>

                 <ul>

                </ul>
        </div>
      </div>

     <body>
      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->


        <table border="1" width="100px" >
         <ul>
                  <li><a href='http://localhost:3000/subjects'>Books R Precious</a></li>
                  <li><a href='http://localhost:3000/contacts'>My Contacts</a></li>
                  <li><a href="http://www.flickr.com/photos/tintin_milou/collections/">Treasured Moments</a></li>
                  <li><a href="http://www.pandora.com/?gclid=COOYvPSLuqsCFSYZQgod_gEIfQ">Songs I Love</a></li>
              </ul>
		</table>


        <footer>
          <p>&copy; BS</p>
        </footer>
      </div>
    </div>
 </body>
</html>