<h1>Editing subject</h1>

<%= render 'form' %>
<br/><br/>

<%= link_to 'Show', @subject %> |
<br/><br/>
<%= link_to 'Back to Subjects', subjects_path %>
<br/><br/>

<a href='http://localhost:3000'>Go Home</a>
