<h1>New subject</h1>

<%= render 'form' %>

<br/><br/>
<%= link_to 'Back', subjects_path %>

<br/><br/>

<%= link_to 'View list of books', books_path %>

<br/><br/>

<a href='http://localhost:3000'>Go Home</a>

