
<p id="notice"><%= notice %></p>

<p>
  <b>Subject name:</b>
  <%= @subject.subject_name %>
</p>


<br/><br/>
<%= link_to 'Edit', edit_subject_path(@subject) %> |

<br/><br/>
<%= link_to 'Back', subjects_path %>

<br/><br/>
<a href='http://localhost:3000'>Go Home</a>
